{{/*
    You can add further theme extensions or customizations here if they should
    appear in <head>.
*/}}

<!-- coreui -->
<!-- <link rel="stylesheet" href="{{ .Site.Params.staticPath }}/coreui-5.4.3-dist/css/coreui.min.css" media="all">
<script defer src="{{ .Site.Params.staticPath }}/coreui-5.4.3-dist/js/coreui.bundle.min.js"></script> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">


<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const lightbox = GLightbox({
      selector: '.glightbox',
      touchNavigation: true,
      loop: true,
      scrollLock: false
    });
  });
</script>

